@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
/* Fonts */
$poppins: "Poppins", sans-serif;
$regular: 400;
$semiBold: 600;

/* Colors */
$background-color: rgba(0, 0, 0, 1);
$primary-color: rgba(255, 255, 255, 1);
$time-color: rgba(255, 230, 66, 1);
$cal-color: rgba(251, 19, 81, 1);
$button-color: rgba(37, 171, 117, 1);
$primary-opacity10: rgba(255, 255, 255, 0.1);

/* Font-sizes */
$small: 0.65rem;
$big: 3.125rem;
